

.user{
    border:3px solid white;
    color:white;
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cross{

    position: absolute;
    top:5px;
    right: 10px;
    cursor: pointer;
    background: white;
    color: black;
    padding:2px;
}