
.science{
    color: blue;
    font-weight: bold;
    
}

.literature{
    color: red;
    font-weight: bold;
}


h1 {
    color:white;
    font-size: 50px;
    background-color: crimson;
}

h2{
    color: forestgreen;
}

#sd1{

    color: hotpink;

}

